* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px #ccc;
    position: relative;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    color: #ffffff;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ff6600;
}

/* ------------------------- */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px #ccc;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333333;
}

.card p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666666;
}


.retour-btn {
    left: 20px;
    top: 20px;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.retour-btn:hover {
    background-color: #ffffff;
    color: #000000;
}