/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #2c2c2c;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1c1c1c;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at var(--x) var(--y), rgba(255, 255, 255, 0.1), transparent 10%);
    pointer-events: none;
    z-index: 1;
    transition: background 0.1s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    z-index: 2;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #ff6347;
}

.links {
    display: flex;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ff6347;
}

.main-container {
    display: flex;
    flex-wrap: wrap; /* Permet le wrap des éléments enfants */
    justify-content: space-between;
    z-index: 2;
}

.left-column,
.right-column {
    width: 100%; /* Par défaut, ils prennent toute la largeur */
}

.about-section,
.projects-section,
.cv-section {
    background-color: #333;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ff6347;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #ff6347;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
}

.cv-section {
    display: none;
}

.cv-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ff6347;
}

.cv-section iframe {
    width: 100%;
    height: 500px;
    border: none;
    margin-bottom: 1rem;
}

.download-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #ff6347;
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #e5533c;
}

footer {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    text-align: right;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
    .left-column {
        width: 48%; /* 48% pour les grands écrans */
    }

    .right-column {
        width: 48%; /* 48% pour les grands écrans */
    }
}

@media (max-width: 767px) {
    .left-column,
    .right-column {
        width: 100%; /* 100% pour les petits écrans, une colonne en dessous de l'autre */
    }
}
